#name {
    position: fixed;
    font-size: 40px;
    padding-left: 3%;
    padding-top: 2px;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar li {
    margin: 0px;
    display: inline-block;
    padding: 15px 7% 15px 0px;
    font-size: 25px;
}

#navbar a:hover {
    color: black;
}

#navbar ul {
    text-decoration: none;
    margin: 0px;
    text-align: right;
}

#navbar {
    background-color: #e51212;
    width: 100%;
    position: fixed;
    top: 0px;
    color: white;
}

#welcome-section {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: #9e9e9e;
    width: 100vw;
    height: 100vh;
}

#project-tile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    text-align: center;
    padding: 0 5%;
}

#projects-header {
    text-align: center;
    padding-bottom: 2em;
}

figure a {
    width: 80%;
    color: black;
}

figure a:hover {
    color: black;
    font-weight: bold;
}

figure img {
    width: 100%;
    height: auto;
    border: 3px solid black;
}

#img1 {
    padding-bottom: 0.5%;
}

figcaption {
    border-color: black;
    border-style: solid;
    width: 100%;
}

#profile-link-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-link-container a {
    border-radius: 100%;
    background-color: #e51212;
    color: white;
    height: 100px;
    width: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#profile-link-container p {
    margin: 20px 5%;
}

#profile-link-container a:hover {
    text-decoration: none;
    color: black;
}

#web {
    height: 300px;
    background: #9e9e9e;
}

#web-title {
    text-align: center;
    padding: 20px 0;
}